nodered/load medication menu troubleshooting
[
    {
        "id": "6b6dd7e06ecadbb4",
        "type": "tab",
        "label": "Medication Menu",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4ce18e4ddae81b5",
        "type": "ui_numeric",
        "z": "6b6dd7e06ecadbb4",
        "name": "Amount",
        "label": "Amount",
        "tooltip": "",
        "group": "d8b6d191.994608",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "amount",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "step": 1,
        "className": "",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "80b4f6f407fe7cc0",
                "43c651aeb5a1601a"
            ]
        ]
    },
    {
        "id": "78f9921f53c89a6f",
        "type": "ui_dropdown",
        "z": "6b6dd7e06ecadbb4",
        "name": "Medication Type",
        "label": "Medication Type",
        "tooltip": "",
        "place": "Select option",
        "group": "d8b6d191.994608",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Panadol",
                "value": "Panadol",
                "type": "str"
            },
            {
                "label": "Fentalyn",
                "value": "Fentalyn",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "medication",
        "topicType": "msg",
        "className": "",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "80b4f6f407fe7cc0",
                "43c651aeb5a1601a"
            ]
        ]
    },
    {
        "id": "43c651aeb5a1601a",
        "type": "function",
        "z": "6b6dd7e06ecadbb4",
        "name": "Store Input",
        "func": "// Check if the payload contains 'amount' or 'medication'\nif (msg.payload !== undefined && typeof msg.payload === 'number') {\n    // Store the received payload as 'amount' in global context\n    global.set('amount', msg.payload);\n    node.warn(\"Received amount stored globally: \" + msg.payload);\n} else if (msg.payload !== undefined && typeof msg.payload === 'string') {\n    // Store the received payload as 'medication' in global context\n    global.set('medication', msg.payload);\n    node.warn(\"Received medication stored globally: \" + msg.payload);\n} else {\n    // Log a warning if the payload format is unexpected\n    node.warn(\"Unexpected payload format: \" + JSON.stringify(msg.payload));\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 260,
        "wires": [
            [
                "5d3a26cac5b3ae99"
            ]
        ]
    },
    {
        "id": "eee4bd6ac70542d2",
        "type": "ui_button",
        "z": "6b6dd7e06ecadbb4",
        "name": "Confirm",
        "group": "d8b6d191.994608",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Confirm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "c571ddb1a2d7cee9"
            ]
        ]
    },
    {
        "id": "c571ddb1a2d7cee9",
        "type": "function",
        "z": "6b6dd7e06ecadbb4",
        "name": "Build Object",
        "func": "// Retrieve both amount and medication from global context\nvar amount = global.get('amount');\nvar medication = global.get('medication');\n\n// Debug messages to check if values are retrieved\nnode.warn(\"Retrieved amount from global context: \" + amount);\nnode.warn(\"Retrieved medication from global context: \" + medication);\n\n// Check if both fields are filled\nif (amount !== undefined && medication !== undefined) {\n    // Build the object\n    var data = {\n        amount: amount,\n        medication: medication\n    };\n    // Send the object to the next node (debug node)\n    msg.payload = data;\n} else {\n    // If any field is missing, construct an error object message\n    msg.payload = {\n        error: \"Please fill in both fields\"\n    };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 360,
        "wires": [
            [
                "bf95f47c4cfde4bc"
            ]
        ]
    },
    {
        "id": "bf95f47c4cfde4bc",
        "type": "debug",
        "z": "6b6dd7e06ecadbb4",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "5d3a26cac5b3ae99",
        "type": "debug",
        "z": "6b6dd7e06ecadbb4",
        "name": "Stored Input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 210,
        "wires": []
    },
    {
        "id": "80b4f6f407fe7cc0",
        "type": "debug",
        "z": "6b6dd7e06ecadbb4",
        "name": "Input Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "d8b6d191.994608",
        "type": "ui_group",
        "name": "Menu",
        "tab": "87e2aee3.509798",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "87e2aee3.509798",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
