nodered/nodered-config.json
[
    {
        "id": "15583713aefc7827",
        "type": "tab",
        "label": "testing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9be72af31adee06c",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "isrgrootx1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "ce684d0833c30503",
        "type": "mqtt-broker",
        "name": "HiveMQ Artyom's ASRS broker",
        "broker": "06ea4fbd57d348d0931b9543624acafa.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "9be72af31adee06c",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e20871c0d6633b8b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "57b8334d92a7b6b7",
        "type": "ui_tab",
        "name": "Pharmacist main menu",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8240c7a306536173",
        "type": "ui_tab",
        "name": "Staff main menu",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4236eef64e8288f4",
        "type": "mongodb3",
        "uri": "mongodb+srv://Nodered:LQmpKU4C0DX9cVay@cluster0.1cnydcd.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "8efbd4578f8ecf11",
        "type": "mongodb-aleph-config",
        "hostname": "Nodered:LQmpKU4C0DX9cVay@cluster0.1cnydcd.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "ASRS",
        "name": ""
    },
    {
        "id": "91da677bce3bf414",
        "type": "ui_tab",
        "name": "Pharmacist load meds",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5d65da9b3e7367ef",
        "type": "ui_group",
        "name": "Pharmacist loads meds",
        "tab": "91da677bce3bf414",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7bec1ed418fad541",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "57b8334d92a7b6b7",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "1475d3bf351ff22b",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "8240c7a306536173",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "149754882e68baba",
        "type": "mqtt in",
        "z": "15583713aefc7827",
        "name": "",
        "topic": "testTopic",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ce684d0833c30503",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 340,
        "wires": [
            [
                "72717ba0444fe312"
            ]
        ]
    },
    {
        "id": "72717ba0444fe312",
        "type": "debug",
        "z": "15583713aefc7827",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 340,
        "wires": []
    },
    {
        "id": "47a6b687af7607f5",
        "type": "mqtt out",
        "z": "15583713aefc7827",
        "name": "",
        "topic": "testTopic",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce684d0833c30503",
        "x": 500,
        "y": 460,
        "wires": []
    },
    {
        "id": "61cc182c4fbf0c82",
        "type": "inject",
        "z": "15583713aefc7827",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "testTopic",
        "payload": "011",
        "payloadType": "str",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "47a6b687af7607f5"
            ]
        ]
    },
    {
        "id": "98e9b415f5570edb",
        "type": "ui_text",
        "z": "15583713aefc7827",
        "group": "7bec1ed418fad541",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "I am pharmacist meny item",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 720,
        "wires": []
    },
    {
        "id": "e3ce36cd51cba4e6",
        "type": "ui_text",
        "z": "15583713aefc7827",
        "group": "1475d3bf351ff22b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "I am Staff meny item",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 500,
        "wires": []
    },
    {
        "id": "4555584fdc8ecf33",
        "type": "ui_dropdown",
        "z": "15583713aefc7827",
        "name": "",
        "label": "which medication?",
        "tooltip": "",
        "place": "Select option",
        "group": "5d65da9b3e7367ef",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Fentalyn",
                "value": "Fentalyn",
                "type": "str"
            },
            {
                "label": "Panadol",
                "value": "Panadol",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1310,
        "y": 720,
        "wires": [
            [
                "2be1afc011f1e5aa"
            ]
        ]
    },
    {
        "id": "5bb474c5fa3e077a",
        "type": "ui_numeric",
        "z": "15583713aefc7827",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "5d65da9b3e7367ef",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 1280,
        "y": 800,
        "wires": [
            [
                "2be1afc011f1e5aa"
            ]
        ]
    },
    {
        "id": "44422ebd1f88be8a",
        "type": "ui_button",
        "z": "15583713aefc7827",
        "name": "",
        "group": "5d65da9b3e7367ef",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "submit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1270,
        "y": 880,
        "wires": [
            [
                "2be1afc011f1e5aa"
            ]
        ]
    },
    {
        "id": "2be1afc011f1e5aa",
        "type": "debug",
        "z": "15583713aefc7827",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 820,
        "wires": []
    },
    {
        "id": "ceb8565fbb92dd45",
        "type": "ui_ui_control",
        "z": "15583713aefc7827",
        "name": "load meds",
        "events": "all",
        "x": 830,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "6650279fbe06c713",
        "type": "debug",
        "z": "15583713aefc7827",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1580,
        "wires": []
    },
    {
        "id": "f4914e7dafd4ebdd",
        "type": "change",
        "z": "15583713aefc7827",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "d14b9307e64ee466",
        "type": "mongodb-aleph-in",
        "z": "15583713aefc7827",
        "mongodb": "8efbd4578f8ecf11",
        "name": "getMeds",
        "collection": "Medications",
        "operation": "find",
        "x": 760,
        "y": 1480,
        "wires": [
            [
                "6650279fbe06c713"
            ]
        ]
    },
    {
        "id": "b6e52f6249e0cd1f",
        "type": "function",
        "z": "15583713aefc7827",
        "name": "function 1",
        "func": "\nmsg.find = {};\nmsg.projection = { \"_id\": 0, \"_location\": 1 };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1340,
        "wires": [
            [
                "d14b9307e64ee466"
            ]
        ]
    },
    {
        "id": "fb01d198eb7aa26f",
        "type": "inject",
        "z": "15583713aefc7827",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 560,
        "y": 1240,
        "wires": [
            [
                "b6e52f6249e0cd1f"
            ]
        ]
    }
]