nodered/pharmacist-loader.json
[
    {
        "id": "e6fc873145b0a448",
        "type": "tab",
        "label": "Pharmacist load",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9aa5b9070aee3f3e",
        "type": "function",
        "z": "e6fc873145b0a448",
        "name": "Prepare MongoDB Insert",
        "func": "// Extract the medication, level, and location from the input message\nvar medication = msg.payload.medication;\nvar level = msg.payload.level;\nvar location = msg.payload.location;\n\n// Create a new document to insert into the MongoDB collection\nvar newDocument = {\n    Medication: medication,\n    Level: level,\n    Location: location\n};\n\n// Set the payload to the new document\nmsg.payload = newDocument;\n\n// Set the MongoDB operation\nmsg.operation = \"insert\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 800,
        "wires": [
            [
                "6e611c535a045cfb"
            ]
        ]
    },
    {
        "id": "6e611c535a045cfb",
        "type": "mongodb-aleph-out",
        "z": "e6fc873145b0a448",
        "mongodb": "8efbd4578f8ecf11",
        "name": "Load Meds to MongoDB",
        "collection": "Medications",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1130,
        "y": 800,
        "wires": [
            [
                "2fa9d7b3f2d40ae1"
            ]
        ]
    },
    {
        "id": "d4ce18e4ddae81b5",
        "type": "ui_numeric",
        "z": "e6fc873145b0a448",
        "name": "Amount",
        "label": "Amount",
        "tooltip": "",
        "group": "d8b6d191.994608",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "amount",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "step": 1,
        "className": "",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "43c651aeb5a1601a"
            ]
        ]
    },
    {
        "id": "78f9921f53c89a6f",
        "type": "ui_dropdown",
        "z": "e6fc873145b0a448",
        "name": "Medication Type",
        "label": "Medication Type",
        "tooltip": "",
        "place": "Select option",
        "group": "d8b6d191.994608",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Panadol",
                "value": "Panadol",
                "type": "str"
            },
            {
                "label": "Fentanyl",
                "value": "Fentanyl",
                "type": "str"
            },
            {
                "label": "Morphine",
                "value": "Morphine",
                "type": "str"
            },
            {
                "label": "OxyContin",
                "value": "OxyContin",
                "type": "str"
            },
            {
                "label": "Methadone",
                "value": "Methadone",
                "type": "str"
            },
            {
                "label": "Adderall",
                "value": "Adderall",
                "type": "str"
            },
            {
                "label": "Ibuprofen",
                "value": "Ibuprofen",
                "type": "str"
            },
            {
                "label": "Loratadine",
                "value": "Loratadine",
                "type": "str"
            },
            {
                "label": "Ranitidine",
                "value": "Ranitidine",
                "type": "str"
            },
            {
                "label": "Vitamin C",
                "value": "Vitamin C",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "medication",
        "topicType": "msg",
        "className": "",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "43c651aeb5a1601a"
            ]
        ]
    },
    {
        "id": "43c651aeb5a1601a",
        "type": "function",
        "z": "e6fc873145b0a448",
        "name": "aggregate Input",
        "func": "if (typeof msg.payload === 'number' && Number.isInteger(msg.payload)) {\n    // If payload is an integer, set 'amount' to its value\n    flow.set('amount', msg.payload);\n    node.warn(\"Amount received and stored in flow context\");\n} else if (typeof msg.payload === 'string') {\n    var medicationName = msg.payload; // Extract medication name from the string\n    flow.set('medication', medicationName);\n    node.warn(\"Medication received and stored in flow context: \" + medicationName);\n} else {\n    // Log if payload does not contain expected properties\n    node.warn(\"Payload does not contain 'amount' or 'medication'. Payload: \" + JSON.stringify(msg.payload));\n}\n\n// Retrieve both amount and medication from global context\nvar amount = flow.get('amount');\nvar medication = flow.get('medication');\n\nnode.warn(\"Retrieved amount from flow context: \" + amount);\nnode.warn(\"Retrieved medication from flow context: \" + medication);\n\n// Check if both values are available\nif (amount !== undefined && medication !== undefined) {\n    // Both values are available, build the object\n    msg.payload = {\n        amount: amount,\n        medication: medication\n    };\n    node.warn(\"Both values are available, proceeding with msg: \" + JSON.stringify(msg.payload));\n\n    // Optionally, you can decide not to clear the stored values if you need them later\n    // global.set('amount', undefined);\n    // global.set('medication', undefined);\n\n    return msg;\n} else {\n    // If either amount or medication is not yet received, wait for it\n    node.warn(\"Waiting for both values to be received.\");\n    return null;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "eee4bd6ac70542d2",
        "type": "ui_button",
        "z": "e6fc873145b0a448",
        "name": "Confirm",
        "group": "d8b6d191.994608",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Confirm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "406acdd260635eb1"
            ]
        ]
    },
    {
        "id": "406acdd260635eb1",
        "type": "function",
        "z": "e6fc873145b0a448",
        "name": "ask which locations are busy",
        "func": "msg.payload = {};\nmsg.projection = { \"Location\": 1, \"_id\": 0 };\n\n// Set the MongoDB operation\nmsg.operation = \"find\";\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 520,
        "wires": [
            [
                "44150b37bbe931d2"
            ]
        ]
    },
    {
        "id": "f9b0adcab224b4ce",
        "type": "function",
        "z": "e6fc873145b0a448",
        "name": "decide where to put meds",
        "func": "// Retrieve the existing locations from the MongoDB response\nlet existingLocations = msg.payload.filter(loc => loc.Location).map(loc => loc.Location);\nlet existingLocationsSet = new Set(existingLocations);\n\n// Retrieve the amount from flow context\nlet amount = flow.get('amount');\n\n// Define the range limits\nconst xRange = 1000;\nconst yRange = 1000;\n\n// Determine locations for the boxes\nlet boxLocations = [];\n\nouterLoop:\nfor (let x = 1; x <= xRange; x++) {\n    for (let y = 1; y <= yRange; y++) {\n        let location = `${x}, ${y}`;\n        if (!existingLocationsSet.has(location)) {\n            boxLocations.push(location);\n            if (boxLocations.length >= amount) {\n                break outerLoop;\n            }\n        }\n    }\n}\n\n// Set the box locations in the message payload\nflow.set('locations', boxLocations);\nflow.set('action', 'load');\nmsg.payload = boxLocations;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 620,
        "wires": [
            [
                "644d0c3d6e0e33ed"
            ]
        ]
    },
    {
        "id": "d135cb702aa1e498",
        "type": "mqtt in",
        "z": "e6fc873145b0a448",
        "name": "",
        "topic": "testTopic",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ce684d0833c30503",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 680,
        "wires": [
            [
                "3b0cbfea68a8a4f5"
            ]
        ]
    },
    {
        "id": "a404e5f2b96a8418",
        "type": "mqtt out",
        "z": "e6fc873145b0a448",
        "name": "",
        "topic": "testTopic",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce684d0833c30503",
        "x": 1080,
        "y": 680,
        "wires": []
    },
    {
        "id": "a96f4f422554ace5",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "important!",
        "info": "we store input into context variables, \nso we don't need to connect this function to anything",
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "55923586.9795cc",
        "type": "ui_template",
        "z": "e6fc873145b0a448",
        "group": "bd2027dddef41de4",
        "name": "pharmcist load->",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<button class=\"md-raised nr-dashboard-form-button md-button md-ink-ripple\" onclick=\"window.location.href='http://34.151.86.177/ui/#!/1?socketid=RAlCQ1FdffExpqvqAAEt';\" style=\"height:44px;line-height:44px\">Load Medications</button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 430,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "03aaf7c3e9b0d09f",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "Pharmacist loads meds gui",
        "info": "",
        "x": 150,
        "y": 380,
        "wires": []
    },
    {
        "id": "48f86bfa37b9b926",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "Pharmacist main menu gui",
        "info": "",
        "x": 150,
        "y": 160,
        "wires": []
    },
    {
        "id": "a95860137df9ad52",
        "type": "ui_template",
        "z": "e6fc873145b0a448",
        "group": "7bec1ed418fad541",
        "name": "pharmcist load/retrieve form->",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<button class=\"md-raised nr-dashboard-form-button md-button md-ink-ripple\" onclick=\"window.location.href='http://34.151.86.177/ui/#!/2?socketid=zBDDOfDknqT46cbtAAFh';\" style=\"height:44px;line-height:44px\">Load/Retrieve Medications</button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 170,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7eff2d78e90c1a67",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "Pharmacist load or retrieve?",
        "info": "",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "024709b987b8656c",
        "type": "ui_template",
        "z": "e6fc873145b0a448",
        "group": "bd2027dddef41de4",
        "name": "pharmcist retrieve->",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<button class=\"md-raised nr-dashboard-form-button md-button md-ink-ripple\" onclick=\"window.location.href='http://34.151.86.177/ui/#!/5?socketid=sUndJgTW0xQ1MnQ0AAG7';\" style=\"height:44px;line-height:44px\">Retrieve Medications</button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 440,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "faa0558c18aa4097",
        "type": "ui_template",
        "z": "e6fc873145b0a448",
        "group": "7bec1ed418fad541",
        "name": "pharmcist browse meds->",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<button class=\"md-raised nr-dashboard-form-button md-button md-ink-ripple\" onclick=\"window.location.href='http://34.151.86.177/ui/#!/1?socketid=RAlCQ1FdffExpqvqAAEt';\" style=\"height:44px;line-height:44px\">Browse inventory</button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 150,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "122d15e7c4bb5c3c",
        "type": "ui_template",
        "z": "e6fc873145b0a448",
        "group": "7bec1ed418fad541",
        "name": "pharmcist view history->",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<button class=\"md-raised nr-dashboard-form-button md-button md-ink-ripple\" onclick=\"window.location.href='http://34.151.86.177/ui/#!/1?socketid=RAlCQ1FdffExpqvqAAEt';\" style=\"height:44px;line-height:44px\">View history log</button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 150,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "44150b37bbe931d2",
        "type": "mongodb-aleph-in",
        "z": "e6fc873145b0a448",
        "mongodb": "8efbd4578f8ecf11",
        "name": "get locations",
        "collection": "Medications",
        "operation": "find",
        "x": 1090,
        "y": 520,
        "wires": [
            [
                "bfe274b4c7e0c239"
            ]
        ]
    },
    {
        "id": "644d0c3d6e0e33ed",
        "type": "loop",
        "z": "e6fc873145b0a448",
        "name": "iterate through boxes",
        "kind": "enum",
        "count": "",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "payload",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-val",
        "finalPayload": "final-count",
        "x": 700,
        "y": 620,
        "wires": [
            [],
            [
                "67861dcf62ae051e"
            ]
        ]
    },
    {
        "id": "67861dcf62ae051e",
        "type": "function",
        "z": "e6fc873145b0a448",
        "name": "send coordinates to the robot",
        "func": "// Extract the value content from the message object\nlet value = msg.payload;\n\n// Remove any commas and spaces from the value\nvalue = value.replace(/[\\s,]/g, '');\n\n// Ensure the value is converted to a string and prepend \"0\"\nlet newValue = \"0\" + value;\n\n// Output an array containing both messages\nreturn [\n    { ...msg },  // Original message\n    { payload: newValue } // New message with the modified value\n];\n\n\n// Extract the value content from the message object\n//let value = msg.loop.value;\n\n// Construct two separate messages\n//let message1 = { ...msg }; // Original message\n//let message2 = { payload: value }; // Message containing the extracted value content\n\n// Output an array containing both messages\n//return [message1, message2];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 680,
        "wires": [
            [
                "644d0c3d6e0e33ed"
            ],
            [
                "a404e5f2b96a8418"
            ]
        ]
    },
    {
        "id": "ccc0e36a1961c0c9",
        "type": "ui_text",
        "z": "e6fc873145b0a448",
        "group": "61150425cb319fef",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Medications have been successfully loaded",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "741206cc7d66160a",
        "type": "ui_template",
        "z": "e6fc873145b0a448",
        "group": "61150425cb319fef",
        "name": "Pharmacist menu->",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<button class=\"md-raised nr-dashboard-form-button md-button md-ink-ripple\" onclick=\"window.location.href='http://34.151.86.177/ui/#!/0?socketid=lgx8S6uDQG5pfnQSAAGh';\" style=\"height:44px;line-height:44px\">back to the main menu</button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e32942dc5bf38017",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "Pharmacist loaded meds confirmation",
        "info": "Medications loaded",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "4ec140838b7a0806",
        "type": "ui_ui_control",
        "z": "e6fc873145b0a448",
        "name": "",
        "events": "all",
        "x": 100,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "aa6f4a563854c447",
        "type": "change",
        "z": "e6fc873145b0a448",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Pharmacist loaded meds confirmation\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 940,
        "wires": [
            [
                "4ec140838b7a0806"
            ]
        ]
    },
    {
        "id": "5debc5ce4b46ce5c",
        "type": "ui_text",
        "z": "e6fc873145b0a448",
        "group": "d8b6d191.994608",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Load Medications (Pharmacist)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 170,
        "y": 420,
        "wires": []
    },
    {
        "id": "3b0cbfea68a8a4f5",
        "type": "function",
        "z": "e6fc873145b0a448",
        "name": "prevent exessive output messages from buggin rest of the systemv2",
        "func": "let amount = flow.get('amount');\n//node.warn('Amount required: ' + amount);\n\n// Initialize a counter to keep track of the number of valid inputs received\nlet count = context.get('count') || 0;\n\n// Main function to process the input\nfunction processInput(msg) {\n    //node.warn(\"Received message: \" + JSON.stringify(msg));\n\n    // Check if the topic is \"testTopic\" and the payload is the number 1\n    if (msg.topic === 'testTopic' && msg.payload === 1) {\n        //node.warn(\"Valid input received: \" + msg.payload);\n\n        // Increment the count\n        count++;\n        //node.warn(\"Incremented count: \" + count);\n\n        // Store the updated count in context\n        context.set('count', count);\n\n        // Check if the count matches the required amount\n        if (count === amount) {\n            // Reset the counter for future use\n            count = 0;\n            context.set('count', count);\n            //node.warn(\"Reached required amount. Reset count to 0.\");\n\n            let locations = flow.get('locations');\n            //node.warn(\"Locations retrieved: \" + JSON.stringify(locations));\n\n            // Set the box locations in the message payload\n            msg.payload = {\n                locations: locations\n            };\n\n            // Return the modified message\n            node.send([msg]);\n        } else {\n            // Output warning if less than the required amount of inputs are received\n            //node.warn(\"Waiting for more inputs. Count: \" + count);\n        }\n    } else {\n        // Output warning if input is not valid\n        //node.warn(\"Invalid input received: \" + JSON.stringify(msg));\n    }\n}\n\n// Call the processInput function when a message is received\nprocessInput(msg);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 740,
        "wires": [
            [
                "7a6e4822cefc7db2"
            ]
        ]
    },
    {
        "id": "7a6e4822cefc7db2",
        "type": "function",
        "z": "e6fc873145b0a448",
        "name": "split and assign level of clearance",
        "func": "var medication = flow.get('medication');\n\n// Define the list of medications with their security clearances\nvar medicationsList = {\n    \"Fentanyl\": \"High\",\n    \"Morphine\": \"High\",\n    \"OxyContin\": \"High\",\n    \"Methadone\": \"High\",\n    \"Adderall\": \"High\",\n    \"Panadol\": \"Low\",\n    \"Ibuprofen\": \"Low\",\n    \"Loratadine\": \"Low\",\n    \"Ranitidine\": \"Low\",\n    \"Vitamin C\": \"Low\"\n};\n\n// Input message containing an array of locations\nvar locations = msg.payload.locations;\n\n// Iterate through the array\nlocations.forEach(function (location, index) {\n    // Create a new message object\n    msg.payload = {\n        medication: medication,\n        level: medicationsList[medication], // Add the 'level' field based on medication\n        location: location // Single location\n    };\n    \n    delay: index * 1000; // Set delay in milliseconds based on index\n    \n    // Return the modified message\n    node.send(msg);\n}); \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 800,
        "wires": [
            [
                "9aa5b9070aee3f3e"
            ]
        ]
    },
    {
        "id": "c7d9001902898b1f",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "returns",
        "info": "5/29/2024, 11:57:07 AMnode: debug 14\ntestTopic : msg.payload : Object\nobject\nmedication: \"OxyContin\"\nlevel: \"High\"\nlocation: \"1, 2\"\n\n5/29/2024, 11:57:07 AMnode: debug 14\ntestTopic : msg.payload : Object\nobject\nmedication: \"OxyContin\"\nlevel: \"High\"\nlocation: \"1, 3\"\n\n5/29/2024, 11:57:07 AMnode: debug 14\ntestTopic : msg.payload : Object\nobject\nmedication: \"OxyContin\"\nlevel: \"High\"\nlocation: \"1, 4\"",
        "x": 410,
        "y": 840,
        "wires": []
    },
    {
        "id": "bb84e77bb70b9a74",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "returns",
        "info": "5/29/2024, 12:20:15 PMnode: debug 14\ntestTopic : msg : Object\nobject\ntopic: \"testTopic\"\npayload: object\nMedication: \"Fentanyl\"\nLevel: \"High\"\nLocation: \"1, 7\"\nqos: 0\nretain: false\n_msgid: \"f2ae2bb51fd27e96\"\noperation: \"insert\"",
        "x": 740,
        "y": 840,
        "wires": []
    },
    {
        "id": "045a52721c53133c",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "returns",
        "info": "5/29/2024, 12:06:05 PMnode: Load Confirmation\ntestTopic : msg.payload : Object\nobject\nMedication: \"Paracetamol\"\nLevel: undefined\nLocation: \"1, 3\"\n_id: \"66569495864aa24257ee4142\"",
        "x": 1150,
        "y": 840,
        "wires": []
    },
    {
        "id": "c375a35915fab439",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "redirect to main menu",
        "info": "",
        "x": 140,
        "y": 900,
        "wires": []
    },
    {
        "id": "e6927ba53fc4fc81",
        "type": "ui_text",
        "z": "e6fc873145b0a448",
        "group": "2656c1ed664638c6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Not enough space!",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "2f6f4e617f7f8da9",
        "type": "ui_template",
        "z": "e6fc873145b0a448",
        "group": "2656c1ed664638c6",
        "name": "Pharmacist menu->",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<button class=\"md-raised nr-dashboard-form-button md-button md-ink-ripple\" onclick=\"window.location.href='http://34.151.86.177/ui/#!/0?socketid=lgx8S6uDQG5pfnQSAAGh';\" style=\"height:44px;line-height:44px\">back to the main menu</button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a8e83c4296f83654",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "Pharmacist loaded meds not enough space warning",
        "info": "We don't have enough storage. \nHere is how much storage we still have:",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "86497f28e3a5b14d",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "returns",
        "info": "5/29/2024, 12:43:25 PMnode: debug 14\nmsg : Object\nobject\npayload: array[3]\n0: object\nLocation: \"1, 1\"\n1: object\nLocation: \"1, 2\"\n2: object\nLocation: \"1, 3\"\nevent: object\nclientX: 344\nclientY: 246\nbbox: array[4]\nsocketid: \"5y9dd5Dw5qEHFkyzAAKK\"\n_msgid: \"064c41e946ccd199\"\noperation: \"find\"",
        "x": 1070,
        "y": 480,
        "wires": []
    },
    {
        "id": "bfe274b4c7e0c239",
        "type": "function",
        "z": "e6fc873145b0a448",
        "name": "enough space?",
        "func": "// Retrieve the existing locations from the MongoDB response\nlet existingLocations = msg.payload.map(entry => entry.Location);\n\n// Retrieve the amount from flow context\nlet amount = flow.get('amount');\n\n// Define the maximum capacity\nconst maxCapacity = 1000;\n\n// Calculate the remaining capacity\nconst remainingCapacity = maxCapacity - existingLocations.length;\n\nif (amount <= remainingCapacity) {\n    return msg; // Enough space, forward the input without any changes\n} else {\n    // Not enough space, send 1 to the second output\n    return [null, { payload: 1 }];\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 560,
        "wires": [
            [
                "f9b0adcab224b4ce"
            ],
            [
                "768555f1de127976"
            ]
        ]
    },
    {
        "id": "135bcf56711896db",
        "type": "ui_ui_control",
        "z": "e6fc873145b0a448",
        "name": "",
        "events": "all",
        "x": 100,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "768555f1de127976",
        "type": "change",
        "z": "e6fc873145b0a448",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Pharmacist loaded meds confirmation\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 560,
        "wires": [
            [
                "135bcf56711896db"
            ]
        ]
    },
    {
        "id": "3ad8b2f03dbefb38",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "redirect to capacity warning screen",
        "info": "",
        "x": 160,
        "y": 640,
        "wires": []
    },
    {
        "id": "5c87ebd314621eb9",
        "type": "GSheet",
        "z": "e6fc873145b0a448",
        "creds": "28237053282d9860",
        "method": "append",
        "action": "",
        "sheet": "1WkyWxkbuhL3Y5ejC7HBdERlSD0XdCCEOgDbQu81csgA",
        "cells": "Sheet1!A2:E1000",
        "flatten": false,
        "name": "history file",
        "x": 1080,
        "y": 880,
        "wires": [
            [
                "109c9bf2c1fac276"
            ]
        ]
    },
    {
        "id": "2fa9d7b3f2d40ae1",
        "type": "function",
        "z": "e6fc873145b0a448",
        "name": "write log",
        "func": "\nvar action = flow.get('action');\nvar medication = flow.get('medication');\nvar amount = flow.get('amount');\n\n// Get the current date and time\nvar currentDateTime = new Date().toLocaleString();\n\n// Initialize the result array with the current date/time, user, and action\nvar result = [currentDateTime, medication, action];\n\n// Return the result array\nmsg.payload = result;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 880,
        "wires": [
            [
                "5c87ebd314621eb9"
            ]
        ]
    },
    {
        "id": "aa59df81c18738c1",
        "type": "http in",
        "z": "e6fc873145b0a448",
        "name": "",
        "url": "/logUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1490,
        "y": 240,
        "wires": [
            [
                "40f2b82fbd3429c3",
                "db1e9c5665515ff8"
            ]
        ]
    },
    {
        "id": "40f2b82fbd3429c3",
        "type": "function",
        "z": "e6fc873145b0a448",
        "name": "who is it? ",
        "func": "// Define the function\nvar extractUsername = function (msg) {\n    // Extract username from the request URL\n    var url = msg.req.url;\n    var username = \"\";\n\n    // Check if the URL contains the username query parameter\n    if (url.includes(\"username=\")) {\n        // Split the URL by '?' to get the query parameters\n        var queryParams = url.split(\"?\")[1];\n        // Split the query parameters by '&' to get individual key-value pairs\n        var keyValuePairs = queryParams.split(\"&\");\n\n        // Iterate through the key-value pairs to find the username\n        for (var i = 0; i < keyValuePairs.length; i++) {\n            var pair = keyValuePairs[i].split(\"=\");\n            if (pair[0] === \"username\") {\n                // Found the username key, set the username value\n                username = pair[1];\n                break;\n            }\n        }\n    }\n\n    // Set the extracted username to the message payload\n    msg.payload = username;\n\n    // Return the modified message\n    return msg;\n}\n\n// Export the function\nmodule.exports = extractUsername;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 240,
        "wires": [
            [
                "7e31950868ae13da"
            ]
        ]
    },
    {
        "id": "7e31950868ae13da",
        "type": "http response",
        "z": "e6fc873145b0a448",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1820,
        "y": 240,
        "wires": []
    },
    {
        "id": "714d83448be78fd3",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "record user & redirect to Pharmacist menu",
        "info": "",
        "x": 2040,
        "y": 240,
        "wires": []
    },
    {
        "id": "143351b41dc965fb",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "Pharmacist load meds",
        "info": "",
        "x": 1790,
        "y": 180,
        "wires": []
    },
    {
        "id": "db1e9c5665515ff8",
        "type": "debug",
        "z": "e6fc873145b0a448",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 180,
        "wires": []
    },
    {
        "id": "adde28466ac417dd",
        "type": "comment",
        "z": "e6fc873145b0a448",
        "name": "note",
        "info": "this one is supposed to receive login information from the authenticating app, buit we are having issues with this",
        "x": 1580,
        "y": 140,
        "wires": []
    },
    {
        "id": "109c9bf2c1fac276",
        "type": "function",
        "z": "e6fc873145b0a448",
        "name": "reset variables",
        "func": "flow.set('amount', 0);\nflow.set('medication', \"\");\nflow.set('action', \"\");\nflow.set('location', [])\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 940,
        "wires": [
            [
                "aa6f4a563854c447"
            ]
        ]
    },
    {
        "id": "8efbd4578f8ecf11",
        "type": "mongodb-aleph-config",
        "hostname": "Nodered:LQmpKU4C0DX9cVay@cluster0.1cnydcd.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "ASRS",
        "name": ""
    },
    {
        "id": "d8b6d191.994608",
        "type": "ui_group",
        "name": "load menu",
        "tab": "91da677bce3bf414",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce684d0833c30503",
        "type": "mqtt-broker",
        "name": "HiveMQ Artyom's ASRS broker",
        "broker": "06ea4fbd57d348d0931b9543624acafa.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "9be72af31adee06c",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bd2027dddef41de4",
        "type": "ui_group",
        "name": "p l/r group",
        "tab": "c74ca39032f59d25",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7bec1ed418fad541",
        "type": "ui_group",
        "name": "Pharmacist main menu",
        "tab": "57b8334d92a7b6b7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61150425cb319fef",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "e0b3a0cd5f8f3298",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "2656c1ed664638c6",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "b492d3f9be4c8809",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "28237053282d9860",
        "type": "gauth",
        "name": "asrs-logging2@macro-pulsar-412700.iam.gserviceaccount.com"
    },
    {
        "id": "91da677bce3bf414",
        "type": "ui_tab",
        "name": "Pharmacist load meds",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9be72af31adee06c",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "isrgrootx1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "c74ca39032f59d25",
        "type": "ui_tab",
        "name": "Pharmacist load or retrieve?",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "57b8334d92a7b6b7",
        "type": "ui_tab",
        "name": "Pharmacist main menu",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e0b3a0cd5f8f3298",
        "type": "ui_tab",
        "name": "Pharmacist loaded meds confirmation",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b492d3f9be4c8809",
        "type": "ui_tab",
        "name": "Phrmacist loded meds not enough space",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]